<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esse documento será enviado pelo backend!!</title>
</head>
<body>
    <a href="/obras">Obras</a>

    <h1>Lorem, ipsum dolor.</h1>

    <h2>Counter: <%= counter %></h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus recusandae obcaecati provident iste quas doloribus, maiores quisquam eos accusantium omnis quidem culpa maxime dolore eligendi asperiores explicabo nam commodi quod eum sint. Incidunt molestiae cupiditate quasi, nostrum architecto quod voluptatum molestias repellendus rem facere, sunt deleniti sed neque illo dolorum eum numquam exercitationem cumque, voluptate tenetur? Eligendi vel repellat perspiciatis veritatis exercitationem officia maiores neque libero excepturi? Placeat ea nisi sed tempore, aspernatur consectetur non recusandae aliquid ducimus accusamus necessitatibus quod saepe doloribus quasi distinctio! Nisi, veritatis est magni eaque officia quidem adipisci cum nulla quod, delectus dolorum nesciunt necessitatibus?</p>
</body>
</html>